$color-overlay-black-50: rgba(0, 0, 0, 0.5);

$color-midnight-blue: #111827;
$color-dark-gunmetal: #1f2937;
$color-slate-blue-gray: #374151;
$color-light-grayish-blue: #d1d5db;
$color-white: #ffffff;
