.pages-home-page-wrapper {
  h1 {
    text-align: center;
  }
  .container {
    display: flex;
    flex-wrap: wrap;

    .add-color-form {
      min-width: 20rem;
      flex-grow: 1;
      flex-shrink: 1;
      flex-basis: 0%;
    }

    .view-colors-container {
      min-width: 20rem;
      flex-grow: 1;
      flex-shrink: 1;
      flex-basis: 0%;
    }
  }
}
